package main

import (
  "github.com/leaanthony/mewn"
  "github.com/wailsapp/wails"
)

func basic(name string) string {
  return "Hello " + name + "!"
}

func main() {

	js := mewn.String("./frontend/public/build/bundle.js")
	css := mewn.String("./frontend/public/build/bundle.css")

  app := wails.CreateApp(&wails.AppConfig{
    Width:  1024,
    Height: 768,
    Title:  "{{.Name}}",
    JS:     js,
    CSS:    css,
    Colour: "#FFF",
  })
  app.Bind(basic)
  app.Run()
}
